/* =========================
   FAQ
========================= */
.faq {
  padding-top: 50px;
}
.faq-container {
  display: flex;
  align-items: flex-start;
  gap: 181px;
  margin: 0 auto;
}

.faq-content {
  width: 619px;
  flex-shrink: 0;
}

.section-label {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--primary-default);
}

.faq-title {
  width: 252px;
  margin-bottom: 56px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--black);
}

.faq-image {
  width: 480px;
  flex-shrink: 0;
  margin-top: 300px; /* замість top: 300px */
}

.faq-image img {
  display: block;
  width: 100%;
  height: auto;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 1439px) {
  .faq-container {
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .faq-content {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
  }

  .section-label {
    margin-bottom: 16px;
    font-size: 14px;
  }

  .faq-title {
    width: 252px;
    margin-bottom: 32px;
    font-size: 46px;
    line-height: 1.1;
  }
}
