<section class="about" id="about">
  <div class="container about-container">
    <div class="about-content">
      <p class="about-subtitle">ABOUT THE GAME</p>

      <h2 class="about-title">
        A Sweet Puzzle Adventure
      </h2>

      <p class="about-text">
        A sweet match-3 adventure with adorable companions by your side.
        Swap candies, unlock puppies, kittens and bunnies, and puzzle your
        way through cozy sugar-sweet worlds.
      </p>
    </div>

    <div class="about-image-wrapper">
      <img
        class="about-image"
        src="./img/about/tel-picture.png"
        alt="Pet Candy Puzzle gameplay"
        width="634"
        height="538"
      >

      <img
        class="about-candy candy-top"
        src="./img/about/bean-blue-up.png"
        alt="candy-bean-blue"
        aria-hidden="true"
        width="87"
        height="65"
      >

      <img
        class="about-candy candy-middle"
        src="./img/about/gummy-violet.png"
        alt="candy-gummy"
        aria-hidden="true"
        alt="Pet Candy Puzzle gameplay"
        width="135"
        height="121"
      >

      <img
        class="about-candy candy-bottom-left"
        src="./img/about/bean-blue-down.png"
        alt="candy-bean-blue"
        aria-hidden="true"
        width="87"
        height="65"
      >

      <img
        class="about-candy candy-bottom-right"
        src="./img/about/bean-green.png"
        alt="candy-bean-green"
        aria-hidden="true"
        width="42"
        height="50"
      >
    </div>
  </div>
</section>
