<section class="cta">
  <div class="container">
    <div class="cta-content">
      <h2 class="cta-title">Ready for a sweet adventure?</h2>

      <p class="cta-text">
        Download Pet Candy Puzzle and start matching with your new best friends
        today.
      </p>

      <a
        class="google-link-btn mobile-google-link"
        href="https://play.google.com/store/apps/details?id=com.matchgames.petcandypuzzle&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Get Pet Candy on Google Play"
      >
        <svg class="google-icon" width="24" height="24" aria-hidden="true">
          <use href="./img/sprite.svg#icon-triangle-google-btn"></use>
        </svg>
        <span>Google Play</span>
      </a>
    </div>
  </div>
</section>
