<section class="faq" id="faq">
  <div class="container faq-container">
    <div class="faq-content">
      <p class="section-label">FAQ</p>

      <h2 class="faq-title">Quick answers</h2>

      <div class="faq-list" id="faq-list">
        <div class="faq-item" data-faq-item>
          <button class="faq-btn" type="button" data-faq-button>
            <svg
              class="faq-icon faq-icon-down"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-down-btn"></use>
            </svg>

            <svg
              class="faq-icon faq-icon-up"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-up-btn"></use>
            </svg>

            <span class="faq-question">
              Is Pet Candy Puzzle free to play?
            </span>
          </button>

          <div class="faq-answer" data-faq-answer>
            <p>Yes, with optional in-game purchases available.</p>
          </div>
        </div>

        <div class="faq-item active" data-faq-item>
          <button class="faq-btn" type="button" data-faq-button>
            <svg
              class="faq-icon faq-icon-down"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-down-btn"></use>
            </svg>

            <svg
              class="faq-icon faq-icon-up"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-up-btn"></use>
            </svg>

            <span class="faq-question"> How do I unlock new pets? </span>
          </button>

          <div class="faq-answer" data-faq-answer>
            <p>Pets are unlocked as you progress through levels.</p>
          </div>
        </div>

        <div class="faq-item" data-faq-item>
          <button class="faq-btn" type="button" data-faq-button>
            <svg
              class="faq-icon faq-icon-down"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-down-btn"></use>
            </svg>

            <svg
              class="faq-icon faq-icon-up"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-up-btn"></use>
            </svg>

            <span class="faq-question"> Do pets help during gameplay? </span>
          </button>

          <div class="faq-answer" data-faq-answer>
            <p>Yes, each pet has a unique ability that assists players.</p>
          </div>
        </div>

        <div class="faq-item" data-faq-item>
          <button class="faq-btn" type="button" data-faq-button>
            <svg
              class="faq-icon faq-icon-down"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-down-btn"></use>
            </svg>

            <svg
              class="faq-icon faq-icon-up"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-up-btn"></use>
            </svg>

            <span class="faq-question"> Is the game beginner-friendly? </span>
          </button>

          <div class="faq-answer" data-faq-answer>
            <p>Yes, the matching mechanics are simple to learn.</p>
          </div>
        </div>

        <div class="faq-item" data-faq-item>
          <button class="faq-btn" type="button" data-faq-button>
            <svg
              class="faq-icon faq-icon-down"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-down-btn"></use>
            </svg>

            <svg
              class="faq-icon faq-icon-up"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-up-btn"></use>
            </svg>

            <span class="faq-question"> Are new levels added regularly? </span>
          </button>

          <div class="faq-answer" data-faq-answer>
            <p>Yes, fresh puzzles and pets are added over time.</p>
          </div>
        </div>

        <div class="faq-item" data-faq-item>
          <button class="faq-btn" type="button" data-faq-button>
            <svg
              class="faq-icon faq-icon-down"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-down-btn"></use>
            </svg>

            <svg
              class="faq-icon faq-icon-up"
              width="44"
              height="44"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-accord-up-btn"></use>
            </svg>

            <span class="faq-question">
              Can I play Pet Candy Puzzle offline?
            </span>
          </button>

          <div class="faq-answer" data-faq-answer>
            <p>
              Yes! You can enjoy most levels offline, making it easy to play
              anytime and anywhere.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="faq-image">
      <picture>
        <source
          media="(max-width: 1439px)"
          srcset="./img/faq/tel-foto-faq-mobile.png"
        />

        <img
          src="./img/faq/tel-foto-faq.png"
          alt="Pet Candy gameplay"
          width="480"
          height="636"
        />
      </picture>
    </div>
  </div>
</section>
